# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Environment
.env
.venv

# model artifacts
*.joblib
*.pkl
*.pickle

# checkpoints
checkpoints/
models/

# HuggingFace Trainer outputs
results/
results_*/
checkpoint-*/

# PyTorch / Transformers
*.bin
*.pt
*.safetensors
*.ckpt

# Cache
__pycache__/
.ipynb_checkpoints/

# maxOS
.DS_Store